.favorite-section {
width: 29rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    margin: 0 auto 1rem auto;
    font-size: 2rem;
    color: var(--the-blue);
    display: flex;
    flex-direction: column;
    align-items: center;
    border: solid var(--tertiary);
    border-radius: 2rem 0 2rem 0;
}

.favorite-section:hover {
    border: solid var(--secundary);
}

.favorite-header {
    display: flex;
    align-items: center;
}

.favorite-card {
    display: flex;
    flex-direction: column;
    position: relative;
    gap: 1rem;
    width: 20rem;
    height: 20rem;
    margin: 1rem 0 1rem 0;
    background-color: var(--the-blue);
    border: solid;
    border-radius: 2rem;
}

.favorite-card__img {
    width: 100%;
    height: 100%;
    background-color: aquamarine;
    border-radius: 2rem;
}

.favorite-card__span_remove {
    position: absolute;
    top: 1rem;
    right: 1rem;
    height: 3rem;
    width: 3rem;
    background-color: rgb(250, 125, 125);
    border-radius: 2rem;
}