.random-section {
    width: 29rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    margin: 0 auto 1rem auto;
    font-size: 2rem;
    color: var(--the-blue);
    display: flex;
    flex-direction: column;
    align-items: center;
    border: solid var(--tertiary);
    border-radius: 2rem 0 2rem 0;
}

.random-section:hover {
    border: solid var(--secundary);
}

.random-section__h2 {
    margin-bottom: 1rem;
}

.random-card {
    position: relative;
    width: 20rem;
    height: 20rem;
    margin: 1rem 0 1rem 0;
    background-color: aqua;
    border: solid;
    border-radius: 2rem;
}

.random-card__img {
    width: 100%;
    height: 100%;
    border-radius: 2rem;
}

.random-card__fav-btn{
    width: 4rem;
    height: 4rem;
    background-color: var(--tertiary);
    position: absolute;
    bottom: 1rem;
    right: 1rem;
    border-radius: 1rem;
    background-image: url(../../assests/img/cat_eyesHeart_icon.png);
    background-position:  center ;
    background-repeat: no-repeat;
}

.reload {
    border: solid;
    border-radius: 2rem;
    color: inherit;
    font-family: inherit;
    font-size: inherit;
    width: 10rem;
}

.reload:hover {
    background-color: var(--secondary);
}